/* #FORM {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  p {
    color: red;
    margin: 4px 0;
    font-size: 14px;
  }
   */


   form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    border: 2px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
  }
  
  input:focus,
  textarea:focus {
    border-color: #0077c0;
  }
  
  button[type="submit"] {
    background-color: #0077c0;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #005ea3;
  }
  
  p {
    color: bisque;
    margin-bottom: 1rem;
  }
  